{% extends 'base.html'%}
{% block title %}SecondBucks{% endblock %}

{% block include_files %}
<link rel="stylesheet" type="text/css" href='../../static/product/categories.css'>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for category in categories %}
            <div class="col-xs-6 col-lg-2 col-sm-3" style="border: solid 2px black;">
                <a href="{% url 'product:category_wise' college.id category.id %} ">
                    <img src="{{ category.img.url }}" class="ime">
                    <p class="name" style = " text-align: center;">{{ category.category_name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<style>

</style>

{% endblock %}

